- @page_title = "Rady odborníků"
.col1.main
  %h2 Rady odborníků
  - @hints.each do |hint|
    .box.box-detail1.item
    .box.box-detail2.item
      %h3= link_to hint.name, hint
      .img= image_tag hint.photos[0].photo.url(:small_show) rescue nil
      .self
        %p= hint.perex
      = link_to 'čtěte více', hint, :class => 'button-more'
    .box.box-detail3.item      
  .paging
    = will_paginate @collection, :previous_label => 'Předchozí', :next_label => 'Další'    
.col2b
  = render :partial => 'shared/box_search'    
  .boxSubmenu
    %ul
      %li= tab_for('Rady odborníků', no_specialists_hints_path)
      %li= tab_for('Autoprofesionálové', specialists_hints_path)
