- use_home_map
.col1
  .imapa
  #hp-map.box.map
    .filtertop    
    .filter
      %h2.fl Filtrování:
      %ul.fr
        -#%li= link_to 'Pouze s maturitou', '#', :class => 'button-filter', :id => 'filter_exam_1'
        %li= link_to_function 'Pouze s maturitou', "filterGraduation('true')"
        %li= link_to 'Pouze bez maturity', '#', :class => 'button-filter', :id => 'filter_exam_0'
        %li.fr= link_to 'nerozlišovat', '#', :class => 'button-filter last', :id => 'filter_exam_null'
      .cols.cols3
        .col1
          %label{ :for => 'filter_display_schools' }zobrazit školy
          %input{ :type => 'radio', :name => 'filter_display', :id => 'filter_display_schools', :value => 'schools', :onchange => 'clickType(this.value)', :checked => 'checked'  }
        .col2.center
          %label{ :for => 'filter_display_employers' }zobrazit zaměstnavatele
          %input{ :type => 'radio', :name => 'filter_display', :id => 'filter_display_employers', :value => 'employers', :onchange => 'clickType(this.value)' }
        .col3.right
          %label{ :for => 'countrySelector' }Vyberte kraj
          %select{ :id => 'countrySelector', :onchange => 'clickCountry(this.options[this.selectedIndex].value)', :class => 'button' }
            %option{ :value => 'all', :selected => 'selected'  }-- Celá ČR --
            %option{ :value => '13-praha' }Hlavní město Praha
            %option{ :value => '1-stredocesky' }Středočeský kraj
            %option{ :value => '14-plzensky' }Plzeňský kraj
            %option{ :value => '2-karlovarsky' }Karlovarský kraj
            %option{ :value => '3-ustecky' }Ústecký kraj
            %option{ :value => '12-jihocesky' }Jihočeský kraj
            %option{ :value => '4-liberecky' }Liberecký kraj
            %option{ :value => '5-kralovehradecky' }Královehradecký kraj
            %option{ :value => '6-pardubicky' }Pardubický kraj
            %option{ :value => '7-jihomoravsky' }Jihomoravský kraj
            %option{ :value => '8-olomoucky' }Olomoucký kraj
            %option{ :value => '9-zlinsky' }Zlínský kraj
            %option{ :value => '10-ostravsky' }Moravskoslezský kraj
            %option{ :value => '11-vysocina' }Kraj Vysočina
    #map{:style => "background-image: url('../imagesnew/stred_stranek/bg_pod_mapou.jpg');width:709px;  margin-left: -10px;border-left: 1px solid #d2d6dc;border-right: 2px solid #d2d6dc;"}
    .slider{:style => "background-color: #cfe7ff;height:180px;width:693px;margin-left: -10px;border-left: 1px solid #d2d6dc;border-right: 2px solid #d2d6dc;"}
      %h2 Vyberte si svůj obor&hellip;
      #slider{:style => "background-color: #fff; width:685px; margin-left: 5px;height:130px;margin-bottom:0px;margin-top:0px;"}
        = link_to 'Prev<span></span>', '', :class => 'overlaid prev'
        .in
          #slider_in
            %ul#slider_in_ul
              - Section.all.in_groups_of(5, false).each_with_index do |row_sections, i|
                %li{ :class => "bg_#{i + 1}"  }
                  - row_sections.each do |section|
                    .item
                      = link_to_function truncate(section.name, :length => 40, :omission => "&hellip;"), "filterSection('#{section.id}')"
        = link_to 'Next<span></span>', '', :class => 'overlaid next'
    .filterbottom     
  .video_pole
    .video_pole_vrh
    .video_pole_stred
      .video_nadpis="Videogalerie"
      .video
        %a.vidbox{:href => "http://www.autanasbavi.cz/video/IVECO_IRISBUS GB.flv", :title => "IVECO IRISBUS GB"}
          %img{:src => "img/bus.jpg", :alt => "", :width => "165", :height => "98", :border => "0"}
      .video
        %a.vidbox{:href => "http://www.autanasbavi.cz/video/JAWA 660 Sportard.flv", :title => "JAWA 660 Sportard"}
          %img{:src => "img/java.jpg", :alt => "", :width => "165", :height => "98", :border => "0"}
      .video
        %a.vidbox{:href => "http://www.autanasbavi.cz/video/tatra.flv", :title => "TATRA"}
          %img{:src => "img/tatra.jpg", :alt => "", :width => "165", :height => "98", :border => "0"}
      .video
        %a.vidbox{:href => "http://www.autanasbavi.cz/video/TPCA.flv", :title => "TPAC"}
          %img{:src => "img/tpac.jpg", :alt => "", :width => "165", :height => "98", :border => "0"}          
      .video_popisek="IVECO IRISBUS GB"
      .video_popisek="JAWA 660 Sportard"
      .video_popisek="Tatra"
      .video_popisek="TPCA"
    .video_pole_spod
    %script
      ="$(document).ready(function(){$('.vidbox').jqvideobox();});"
  #skater       
        
.col2b  
  = render :partial => 'shared/box_search'
  = render :partial => 'shared/box_news', :locals => { :num => 2  }
  = render :partial => 'shared/box_why'
  #boxiq
    %a{:href => "http://www.iqindustry.cz", :title => "iqindustry", :target => "_blank"}
      %img{:src => "imagesnew/img/logo_iq_bila.jpg", :alt => "IQ_LOGO", :width => "150", :height => "150", :border => "0"}      
